.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    /* background-image: url('https://i.imgur.com/67IywpV.jpg'); */
    background-size: cover;
    background-repeat: no-repeat;
}