.container{
    margin: 10px;
    background-image: url('https://i.imgur.com/Aa9qQ7R.jpg'); /* Specify the path to your image */
    background-size: cover; /* Adjusts the size of the background image to cover the entire button */
    background-repeat: no-repeat; /* Prevents the background image from repeating */
    padding: 15px;
    position: relative;
    width: 330px;
    border-radius: 30px;
}

.container:hover{
    background-image: url('https://i.imgur.com/zI1pl8w.jpg'); /* Specify the path to your hover image */
}

.btn{
    background-image: url('https://i.imgur.com/mY5roKf.jpg'); /* Specify the path to your image */
    background-size: cover; /* Adjusts the size of the background image to cover the entire button */
    background-repeat: no-repeat; /* Prevents the background image from repeating */
    cursor: pointer;
    border-radius: 10px;
    position: relative;
    right: 0px;
    z-index: 1;
    width: 40px; /* Adjust width as needed */
    height: 40px; /* Adjust height as needed */
    left: 40%;
}

.btn:hover {
    background-image: url('https://i.imgur.com/CEBbyHc.gif'); /* Specify the path to your hover image */
}

.imgContainer {
    position: relative;
    width: 100%;
    max-height: 300px;
    overflow: hidden;
}

img{
    width: auto;
}

.name{
    position: absolute;
    top: 230px;
    left: 100px;
    color: darkgreen;
    font-family: 'get_schwifty';
    padding: 5px 10px 5px 10px;
    justify-content: ;
}

.descriptionContainer{
    font-size: 15px;
    font-family: 'get_schwifty';
    color: lightyellow;
    background-color: rgba(0, 0, 0, 0.438);
    background-size: cover;
    font-style: normal;
    text-align: justify;
    display: inline-block;
    border-radius: 30px;
}

.descriptionContainer span{
    font-family: 'get_schwifty';
    font-style: italic;
}

