.container{
    margin: 10px;
    background-color: rgb(37, 37, 170);
    padding: 15px;
    position: relative;
    width: auto;
}

.btn{
    font-size: 23px;
    font-style: italic;
    background-color: black;
    cursor: pointer;
    border-radius: 10px;
    color: white;
    position: absolute;
    right: 12px;
    z-index: 1;
}

.imgContainer {
    position: relative;
    width: 100%;
    max-height: 300px;
    overflow: hidden;
}

img{
    width: auto;
}

.name{
    position: absolute;
    top: 250px;
    color: darkred;
    font-family: monospace;
    background-color: white;
    box-shadow: black 0 3px 3px;
    padding: 5px 10px 5px 10px;
    border-radius: 8px;
    border: 1.5px solid grey;
}

.descriptionContainer{
    font-size: 15px;
    font-family: monospace;
    color: lightblue;
    font-style: normal;
}

.descriptionContainer span{
    color: white;
    font-style: italic;
}