/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

.Principal {
  text-align: center;
  background-image: url(https://i.imgur.com/ezbcLse.jpg);
  background-attachment: fixed;
  background-size: cover;
  
}

.Home {
  text-align: center;
  background-image: url(https://i.imgur.com/67IywpV.jpg);
  background-attachment: fixed;
  background-size: cover;
  
}

.About {
  text-align: center;
  background-image: url(https://i.imgur.com/7eE2yXC.jpg);
  background-attachment: fixed;
  background-size: cover;
  
}

.Favorites {
  text-align: center;
  background-image: url(https://i.imgur.com/4qdKBnl.jpg);
  background-attachment: fixed;
  background-size: cover;
  
}

.Detail {
  text-align: center;
  background-image: url(https://i.imgur.com/d6aBCqP.jpg);
  background-attachment: fixed;
  background-size: cover;
  
}