@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #ff7474;
  }
  button {
    background-color: #f9f9f9;
  }
}

@font-face {
  font-family: 'get_schwifty';
  src: url('../src/assets/Font/get_schwifty.ttf');
}